

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><a class="nav-link active" routerLink="/dand">Drag and Drop Test </a></li>
        <li><a class="nav-link active" routerLink="/test-page">Test Page</a></li>
        <li><a class="nav-link active" routerLink="/ddsorted">Drag and Drop Sorted</a></li>
        <li><a class="nav-link active" routerLink="/tododd">Drag and Drop List</a></li>
        <li><a class="nav-link active" routerLink="/horizontaldd">Horizontal Drag and Drop List</a></li>
        <li><a class="nav-link active" routerLink="/multipledd">Multiple Drag and Drop</a></li>
        <li><a class="nav-link active" routerLink="/trainercoursedetails">Trainer Course Details</a></li>
      </ul>


    </div>
  </div>
</nav>
<router-outlet></router-outlet>
